<script type="text/template" id="tplPostShortItem">
    <section class="clearfix news-all__item news-all__item-m" data-id="<%= post.id %>" itemscope
             itemtype="http://schema.org/NewsArticle">
        <time class="news-all__time" datetime="<%= post.published_at %>" itemprop="datePublished"><%= post.published_safe %></time>
        <h2 class="news-all__title">
            <a rel="index" href="<%= post.url %>" class="news-all__title-i" itemprop="url name"><%= post.name %></a>
        </h2>
        <div class="news-all__description" itemprop="description"><%= post.summary %></div>

        <ul class="tags-list tags-list_inline" role="group" aria-label="tags">
            <% _.map(post.tags, function(item, i){ %>
            <li class="tags-list__item">
                <a rel="tag" href="<%= item.url %>"
                   title="{{ trans('news::post.index.tag_title') }}"
                   class="tag"><%= item.name %></a>
            </li>
            <% }); %>
        </ul>

        <% if (post.manage_buttons){ %>
        <div class="btn-group pull-right">
            <% if (auth_check){ %>
            <a href="<%= post.manage_buttons.edit %>"
               class="btn btn-xs btn-success">{{ trans('news::post.index.btn_post_edit') }}</a>
            <% } %>
            <button type="button"
                    class="btn btn-danger btn-xs post-btn-delete">{{ trans('news::post.index.btn_post_delete') }}</button>
        </div>
        <% } %>
    </section>
</script>